html, body {
    background: #FFFFFF url('../images/bg.png');
    margin: 0;
    font-family: 'Ubuntu', sans-serif;
}

#layout {
    height: 100%;
    width: 960px;
    margin: 0 auto;
    background: #f2f2f2;
}

#banner {
    height: 150px;
    width: 960px;
    background: url('../images/banner_bg.png');
    border-radius: 0 0 7px 7px;
    margin-bottom: 5px;
    color: #FFFFFF;
    position: relative;
}

#banner .title {
    padding: 20px 0 0 20px;
    font-size: 50px;
}

#banner ul.menu {
    list-style-type: none;
    padding: 0;
    margin: 0;
    position: absolute;
    bottom: 20px;
    right: 20px;
}

#banner ul.menu li {
    float: left;
    padding-left: 20px;
}

#main_container {
    padding: 10px;
}
