<html>
<head>
    <link href='http://fonts.googleapis.com/css?family=Ubuntu' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="/css/style.css" type="text/css" media="screen, projection">
</head>
<body>
<div id="layout">
    <div id="banner">
        <div class="title">Podcast Database...</div>
        <ul class="menu">
            <li>
                <a href="<?= $this->url(array('controller' => 'index')); ?>">Home</a>
            </li>
            <li>
                <a href="<?= $this->url(array('controller' => 'podcasts')); ?>">Podcasts</a>
            </li>
            <li>
                <a href="<?= $this->url(array('controller' => 'about')); ?>">About</a>
            </li>
        </ul>
    </div>
    <div id="main_container">
        <?php echo $this->layout()->content; ?>
    </div>
</body>
</html>
